// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron-1 {
  border-radius: 0 !important;
}
.liang-1 {
  padding: 30px !important;
}
.liang-2 {
  padding: 55px !important;
}
